/* ootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* root */
:root {
    --purple: #6500ff;
    --grey: #bec0bd;
    --white: #ffff;
    --grey-btn: #e3e3e3;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/* containers */
.main-container {
    max-width: 1400px;
    min-width: 420px;
    margin: 0 auto;
    padding: 0 30px;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.card-box {
    flex: calc(100% / 3 - (30px * 2) / 3) 1 1;
    flex-shrink: 0;
    min-width: 420px;
    padding: 40px;
    box-shadow: 0 0 20px var(--grey);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* utils */
.bg-purple {
    background-color: var(--purple);
}

.bg-white {
    background-color: var(--white);
}

.text-purple {
    color: var(--purple);
}

.text-white {
    color: var(--white);
}

.text-grey {
    color: var(--grey);
}

/* header */
.header-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 180px;
    margin-top: 30px;
    
    .title h1 {
        font-size: 3rem;
    }
    
    .title span {
        color: var(--grey);
        font-size: 1rem;
    }
}

.subscription {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    gap: 15px;
}

.switch-box {
    position: relative;
    
    input {
        display: none;
    }
    
    label {
        display: flex;
        align-items: center;
        border: 3px solid var(--grey);
        border-radius: 30px;
        background-color: white;
        width: 40px;
        height: 25px;
        cursor: pointer;
    }
    
    label:before {
        content: "";
        background-color: white;
        width: 20px;
        height: 20px;
        border: 2px solid var(--grey);
        border-radius: 50%;
    }
    
    input:checked + label {
        border: 2px solid black;
        background-color: black;
    }
    
    input:checked + label:before {
        position: absolute;
        right: 2px;
        content: "";
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid black;
        border-radius: 50%;
    }
}



/* card */
.card-title {
    font-size: 2rem;
}

.card-title,
.card-subtitle {
    text-align: left;
}

.card-price {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;

    .bi {
        font-size: 1.2rem;
    }

    .mo {
        font-weight: 400;
        font-size: 1rem;
    }
}

.promo-label {
    background-color: var(--grey-btn);
    border-radius: 10px;
    padding: 0.5rem;
}


.card-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 30px 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}


.services-list {
    list-style: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 3;
    display: flex;
    flex-wrap: wrap;

    li {
        flex: calc(100% / 2) 1 1;
        min-width: 400px;
    }
    
    .bi {
        padding-right: 10px;
    }
}
