/* ootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* root */
:root {
    --purple: #6500ff;
    --grey-btn: #e3e3e3;
    --text-grey: #bec0bd;
    --text-white: #ffff;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/* main sections */
body {
}

/* containers */
.main-container {
    max-width: 1400px;
    min-width: 640px;
    margin: 0 auto;
    padding: 0 30px;
}

.card-box {
    max-width: 466px;
    padding: 60px;
    box-shadow: 0 0 20px var(--text-grey);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* header */
.header-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 180px;

    .title h1 {
        font-size: 3rem;
    }

    .title span {
        color: var(--text-grey);
        font-size: 1rem;
    }

    .switch-box {


    }

}

/* card */
.card-title {
    font-size: 2rem;
}

.card-subtitle {
    color: var(--text-grey);
}

.card-title,
.card-subtitle {
    text-align: left;
}

.card-price {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;

    .bi {
        font-size: 1.2rem;
    }

    .mo-grey {
        font-weight: 400;
        color: var(--text-grey);
        font-size: 1rem;
    }
}

.promo-label {
    background-color: var(--grey-btn);
    border-radius: 10px;
    padding: 0.5rem;
}


.card-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    height: 60px;
    border-radius: 10px;
    color: var(--text-white);
}

.bg-purple {
    background-color: var(--purple);
}

.services-list {
    list-style: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 3;

    .bi {
        padding-right: 10px;
    }
}