/* ootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* root */
:root {
    --purple: #6500ff;
    --grey: #bec0bd;
    --white: #ffff;
    --grey-btn: #e3e3e3;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/* main sections */
body {
}

/* containers */
.main-container {
    max-width: 1400px;
    min-width: 420px;
    margin: 0 auto;
    padding: 0 30px;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.card-box {
    flex: calc(100% / 3 - (30px * 2) / 3) 1 1;
    flex-shrink: 0;
    min-width: 420px;
    padding: 40px;
    box-shadow: 0 0 20px var(--grey);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* utils */
.bg-purple {
    background-color: var(--purple);
}

.bg-white {
    background-color: white;
}

.text-purple {
    color: var(--purple);
}

.text-white {
    color: var(--white);
}

.text-grey {
    color: var(--grey);
}

/* header */
.header-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 180px;
    
    .title h1 {
        font-size: 3rem;
    }
    
    .title span {
        color: var(--grey);
        font-size: 1rem;
    }

    .switch-box {


    }

}

/* card */
.card-title {
    font-size: 2rem;
}

.card-title,
.card-subtitle {
    text-align: left;
}

.card-price {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;

    .bi {
        font-size: 1.2rem;
    }

    .mo {
        font-weight: 400;
        font-size: 1rem;
    }
}

.promo-label {
    background-color: var(--grey-btn);
    border-radius: 10px;
    padding: 0.5rem;
}


.card-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 30px 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}


.services-list {
    list-style: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 3;
    
    .bi {
        padding-right: 10px;
    }
}
